.share {

    width: 100%;
    height:initial;
    border: 2px solid #a1a1a1;
    margin-top: 3%;
    -webkit-box-shadow: 5px 5px 8px 3px rgba(0,0,0,0.29); 
    box-shadow: 5px 5px 8px 3px rgba(0,0,0,0.29);
    left: 50%;
}

.shareWrapper {

    padding: 10px;

}

.shareTop {

    height: 100%;

    }

.profilePicture {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;

}

.shareInput {

    border: none;
    width: 80%;
    height: 100%;

}
.shareInput:focus {
    outline: none;
}


.shareBottom {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: rgb(29, 29, 29);
    margin: 0;

}
.shareOption {

    display: flex;

}
.shareOptions:hover {

    display: flex;
    background-color: rgb(58, 58, 58);

}

.shareOptions {

    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    margin-left: auto; 
    margin-right: 10px;
    border-radius: 20px;
    padding: 5px;    

}

.shareOptionText {

    color: white;
    font-size: 100%;
    font-weight: bold;

}